PNS Termux Android Projects src/PNS filesystem_patch/tmp/flows_localhost.json
[{"id":"e41fa298.e0ffa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5082e8c4.7f38b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de2b6f46.6c6f9","type":"termux-battery-status","z":"e41fa298.e0ffa","name":"","topic":"","x":380,"y":100,"wires":[["1b195939.9e0607","2843defe.932422"]]},{"id":"90d2a5c3.61fb68","type":"termux-location","z":"e41fa298.e0ffa","name":"","topic":"","provider":"gps","request":"last","x":360,"y":160,"wires":[["1b195939.9e0607","2843defe.932422"]]},{"id":"19e1f6b6.59fc19","type":"termux-wifi-connectioninfo","z":"e41fa298.e0ffa","name":"","topic":"","x":360,"y":220,"wires":[["1b195939.9e0607","2843defe.932422"]]},{"id":"4a595918.a61848","type":"inject","z":"e41fa298.e0ffa","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["de2b6f46.6c6f9","90d2a5c3.61fb68","19e1f6b6.59fc19","e7b2534.cbc15b"]]},{"id":"1b195939.9e0607","type":"debug","z":"e41fa298.e0ffa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":100,"wires":[]},{"id":"e7b2534.cbc15b","type":"termux-vibrate","z":"e41fa298.e0ffa","name":"","topic":"","duration":"100","force":false,"x":360,"y":280,"wires":[]},{"id":"2843defe.932422","type":"termux-toast","z":"e41fa298.e0ffa","name":"","topic":"\"!hello!\"","short":true,"x":610,"y":160,"wires":[]}]